.mainContainer {
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.mainContent {
  position: relative;
  width: 100%;
}

.asideContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100vh - 85px);
  max-width: 300px;
  width: 100%;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  padding: 2rem 0;

  overflow: hidden;
  overflow-y: auto;

  box-shadow: var(--panel-shadow);
  transition: var(--global-transition);

  > button {
    display: flex;
    justify-content: flex-end;

    button {
      border-radius: 3px;
      background-color: #f4f4f4;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-white);
      }
    }

    svg {
      width: 27px;
      height: 27px;
    }
  }

  > div.asideLimit {
    max-width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > article {
      max-height: 809px;
      height: 100%;

      > form {
        margin: 2rem 0;

        > input {
          height: 40px;
          padding: 0 1rem;
          border: 1px solid rgba(0, 0, 0, 0.5);
          border-radius: 2rem;
          font-size: 1.1rem;
        }
      }

      > section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        > span {
          cursor: pointer;
          display: inline-flex;
          justify-content: center;
          align-items: center;

          min-height: 1.5rem;
          padding: 0.3rem 0.5rem;
          margin: 0.4rem 0.5rem;
          border-radius: 0.8rem;
          border: 1px solid rgba(0, 0, 0, 0.2);

          background: var(--tertiary-white);
          color: #515151;

          &:hover {
            color: #6200ee;
          }
        }
      }
    }

    > footer {
      transition: 0.6s all cubic-bezier(0.4, 0, 0.2, 1);

      line-height: 24px;
      button > strong {
        color: #33aaee;
      }

      div {
        transition: var(--global-transition);
      }

      > div.close {
        visibility: visible;
        > strong {
          color: #33aaee;
        }

        section {
          display: flex;
          flex-wrap: wrap;

          > div {
            background: var(--secondary-fork);
            border-radius: 6px;
            padding: 0.5rem 0.8rem;
            margin: 0.3rem;
          }
        }
      }
      > div.open {
        visibility: hidden;
      }
    }
  }
}
.asideContainer.collapse {
  width: 5rem;

  box-shadow: initial;

  > div.asideLimit {
    display: none;
  }
}

.contentContainer {
  /* article */
  max-width: 650px;
  max-width: calc(100% - 300px);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    padding: 2rem 0;

    > section {
      position: relative;

      height: 20rem;
      width: 648px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      box-shadow: var(--panel-shadow);
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        flex: 1;

        h1,
        p {
          text-align: center;
        }
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 1.8rem;
        }
      }

      > div.line {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;

        right: 50%;

        width: 2px;
        background: #dedeed;
      }

      > section.versus {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, 50%);

        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        width: 3rem;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: var(--primary-white);
      }
      > section.createdAt {
        position: absolute;
        right: 50%;
        bottom: 0;
        transform: translate(50%, 50%);

        display: flex;
        justify-content: center;
        align-items: center;

        max-height: 5rem;
        width: 10rem;
        padding: 0.3rem 0;

        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        background: var(--primary-white);
      }
    }
  }

  div.winner {
    margin: 1rem 0;
    padding: 2rem 0;
    width: 100%;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 95%;

      > div {
        display: flex;
        align-items: center;
      }

      h2 {
        color: var(--primary-fork);
        margin-left: 1rem;
      }
    }
  }
}

// METADATA COMPONENT FROM CURRENT MATCH
.metadata {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 2rem;
  border-radius: 6px;

  transition: var(--global-transition);

  > button {
    transition: var(--global-transition);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;

    font-size: 1.1rem;
    border-radius: 6px;
    height: 40px;
    width: 10rem;
    color: var(--link);

    > svg {
      width: 30px;
      height: 23px;
    }
  }

  > ul {
    transition: var(--global-transition);

    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;

    li {
      display: flex;
      align-items: center;

      background: #f9f9f9;

      padding: 0.5rem;
      margin: 0 0 0.7rem;

      > span {
        font: 400 1rem "Inter", sans-serif;
        margin-right: 0.5rem;
      }
      > strong {
        font: 600 1.1rem "Ibm plex sans", sans-serif;
      }
    }
  }
}

.metadata.open {
  > ul {
    display: none;
  }
}
